body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: cover;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.open {
    font-size:40px;
    position: absolute;
    top: 5px;
    left: 15px;
    cursor: pointer;
    display: none;
}
.menu-mob {
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color:rgba(0,0,0,0.7);
    top: 0;
    right: -200px;
    transition: all 0.3s;
    color: white;
    font-style: 18px;
    font-family: Arial;
    z-index: 99;
}
.links-mob {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.links-mob div {
    padding: 20px;
}

.close1 {
    color: gold;
    position:absolute;
    top:10px;
    right: 10px;
    cursor: pointer;

}
.underlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 20%;
    top: 0;
    display: none;
    box-sizing: border-box;
    margin: 0;
}

.nav {
    display: flex;
    position: fixed;
    width: 90%;
    justify-content: flex-end;
    z-index: 999;
}
.whoiam {
    display: block;
    padding-top: 10px;
}
.image {
    width: 33%;
}
.imageM {
    display: none;
}
.hi {
    display: flex;
    font-size: 30px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}
.me {
    box-sizing: border-box;
    width: 80%;
    border-radius: 0 13px 13px 13px;
}
.me:hover {
    opacity: 0.8;
    transition: all 0.4s;
    transform: scale(1.02, 1.02);
}
.foto-desktop {
    display: flex;
    padding-left: 15px;
}

  

.greetings {
    font-size: 30px;
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    padding: 0 20px;
}
.wallpaper {
    width: 100%;
    
}
.landing {
    width: 100%;
    
}
.menu-item {
    color:rgb(0, 0, 0);
    font-size:large;
    text-decoration: none;
    padding: 5px 10px;
    background-color:rgb(101, 124, 165);
    transition: all 0.9s;
    border-radius: 5px;
    display: flex;
    margin: 5px;
}
.menu-item-mob {
    color:gold;
    font-size: large;
    text-decoration: none;
}
.menu-item:hover {
    color: rgb(41, 39, 39);
    background-color:rgb(175, 184, 200);
}
.main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.foto-mobile {
    display: none;
}
.icons {
    display: flex;
}
.icons img {
    width: 100%;
    border-radius: 10px 0 10px 0;
}
.icons div {
    padding: 15px;
}
.experience {
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
.dhtml:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}
.dcss:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}
.dboot:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}
.djq:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}
.djs:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}
.dgit:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}
.work {
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 30px;
    padding: 30px;

}
iframe {
    width:95%;
    padding: 5px;
    border-radius: 5px;
}
.mail {
   font-size: 20px; 
   padding: 13px;
}
footer {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-size: cover;

}
.contacts {
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 30px;
    padding: 30px;
}
.telegram {
    font-size: 20px; 
    padding: 13px;
 }
 .phone {
    font-size: 20px; 
    padding: 13px;
 }
 iframe {
    border-radius: 3px;
 }


 @media(max-width : 500px) {
    body {
        background-color: #FBDA61;
        background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);


    }
    .image {
        display: none;
    }
    .imageM {
        display: block;
    }
    .icons {
        display: block;
    }
    .icons img {
        width:50%;
        border-radius: 10px;
        margin-top: 10px;
    }
    .icons div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main {
        display: block;
    }
    .main div {
        padding: 5px;
    }
    .nav {
        display: none;
    }
    .whoiam {
        padding-top: 40px;
    }

    .open {
        display:inline-block;
    }
    .hi {
        align-items: baseline;
        padding-top: 0;
    }

 }


 

